RTSP_USER=username
RTSP_PASS=password
RTSP_HOST=192.168.0.190
RTSP_HOST_2=192.168.0.195
RTSP_PORT=554
RTSP_PATH=stream1
RTSP_INPUT_URL=rtsp://mediamtx:8554/cam
RTSP_INPUT_URL_2=rtsp://mediamtx:8554/cam2

FRONTEND_PORT=3000
MIDDLEWARE_PORT=8085
BACKEND_PORT=8082

NEXT_PUBLIC_STREAM_URL=/api
STREAM_INTERNAL_URL=http://motion-detection:8080
NEXT_PUBLIC_MEDIAMTX_URL=http://localhost:8889
NEXT_PUBLIC_WS_URL=ws://localhost:8085
NEXT_PUBLIC_API_URL=http://localhost:8085

MOTION_PORT=8083
IDLE_DROP=5
ACTIVE_DROP=1
COOLDOWN_FRAMES=30
