# Build artifacts
build/
build-all/

*.o
*.exe
*.out

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.docker

# Node
node_modules/
.next/

# Binaries
rtsp_viewer
# dev work
contracts/
tests/
context.md
fefw.md
TASKS_BOARD.md

# Middleware, # everyone MUST download their own httplib.h bc its big. curl command:
# curl -o httplib.h https://raw.githubusercontent.com/yhirose/cpp-httplib/master/httplib.h  
# Do this from \middleware\include
middleware/include/httplib.h 
middleware/build/
middleware/.env
tasks.json
trello_sync.py
