services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    ports:
      - "8554:8554"
      - "1935:1935"
    environment:
      - MTX_PATHS_CAM_SOURCE=rtsp://${RTSP_USER}:${RTSP_PASS}@${RTSP_HOST}:${RTSP_PORT}/${RTSP_PATH}

  backend:
    build: ./backend
    ports:
      - "8082:8080"
    depends_on:
      - mediamtx
    restart: always

  webserver:
    build: ./webserver
    ports:
      - "8081:80"
    depends_on:
      - backend